.classpath
.project
.settings
target

*/**/.classpath
*/**/.project
*/**/.settings
*/**/target
archetypes/liferay-archetypes.iml
archetypes/liferay-ext-archetype/liferay-ext-archetype.iml
archetypes/liferay-hook-archetype/liferay-hook-archetype.iml
archetypes/liferay-layouttpl-archetype/liferay-layouttpl-archetype.iml
archetypes/liferay-portlet-archetype/liferay-portlet-archetype.iml
archetypes/liferay-portlet-icefaces-archetype/liferay-portlet-icefaces-archetype.iml
archetypes/liferay-portlet-jsf-archetype/liferay-portlet-jsf-archetype.iml
archetypes/liferay-portlet-liferay-faces-alloy-archetype/liferay-portlet-liferay-faces-alloy-archetype.iml
archetypes/liferay-portlet-primefaces-archetype/liferay-portlet-primefaces-archetype.iml
archetypes/liferay-portlet-richfaces-archetype/liferay-portlet-richfaces-archetype.iml
archetypes/liferay-servicebuilder-archetype/liferay-servicebuilder-archetype.iml
archetypes/liferay-theme-archetype/liferay-theme-archetype.iml
archetypes/liferay-web-archetype/liferay-web-archetype.iml
maven-support.iml
plugins/liferay-maven-plugin/liferay-maven-plugin.iml
plugins/plugins.iml
